.container {
    
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
}
.column-img {
  float: left;
  width: 33%;
}
img {
  padding :4px;
  width: 90%;
  height: 90%;
  background-color:#FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
}
label {
  font-weight: bold;
  font-size: 24px;
}
.tag {
  font-size: 20px;
  border-radius: 3px;
  color: white;
  line-height: 26px;
  padding: 0 10px 0 10px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tag-ncu {
   background: #37EB58;
}

.tag-ncucsie {
   background: #FF4646;
}

.tag-ncucc {
   background: #0089e0;
}